<app-create-book 
            [open]="openCreateBook"
            (close)="onCloseCreateBook($event)"/>
<section class="book-list-content">
    <h3 class="page-title">Book List</h3>
    <div class="page-actions">
        <form action="">
            <div class="search">
                <input  class="search__input" type="search" placeholder="Search a book">
                <button class="search__button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="16" height="16" viewBox="0 0 24 24" stroke-width="3" stroke="#2D3250" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button> 
            </div>
        </form>
        <!-- <button class="add-book" (click)="onOpenCreateBook()">Add Book</button> -->
        <app-main-button [text]="buttonText" (onClick)="onOpenCreateBook()"/>
        
    </div>
    <div class="book-list">
        @for (book of bookList; track $index) {
            <app-book-card [book]="book"/>
        }
    </div>
    <div class="pagination">
        1 2 3 4 5
    </div>
</section>
